[submodule "lib/json-parser"]
	path = lib/json-parser
	url = https://github.com/json-parser/json-parser.git
[submodule "lib/libjpeg"]
	path = lib/libjpeg
	url = https://github.com/LuaDist/libjpeg.git
